*{

    margin: 0;;
    color: #fff;
    background-color: #000;

}

body{


}


#main-navbar{
   
    display: flex;
    height:240px;
    width: 100vw;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined{

    text-align: right;
}

#Mehndi-Hackel-h1-heading{

    font-size: 5vmax;
  
}



#nav2{

  
    height: 5vh;
    width:100vw;
    background-color: #191919;
    justify-content: center;
    align-items: center;
    
   
}

#Home{
    text-decoration: none;
    padding:2vw;
    font-size: 1.5vmax;
  
}



#Gallery{
    text-decoration: none;
    padding:2vw;
    font-size: 1.5vmax;
}


#About{
    text-decoration: none;
    padding:2vw;
    font-size: 1.5vmax;
}
 

#Book-us-Online{
    text-decoration: none;
    padding:2vw;
    font-size: 1.5vmax;
}
 
 

#mid{

    background-color: #000000;
    height: auto;
    width: 100vw;
    
}

#Our-Mehndi-h3-heading{
    font-size: 3.4vw;
    text-align: center;
}





#items{

    width: 100vw;
    height: auto;
    display: flex;
    background-color: #000000;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#id-1{
    
    height:450px;
    width: 280px;
    background:transparent;
    margin: 7px;
    border: 2px solid #333;
    transition: all ease 2s;

  
}
#img-1{

    height:450px;
    width: 280px;
    
}
  


